<form action="" method="GET">
    <p> Tournament Language:
    <select name="Lang" class="">
        <option value="both"> Both </option>
        <option value="bn"> Bangla </option>
        <option value="en"> English </option>
    </select>
    Select Format:
    <select name="Format" class="">
        <option value="all"> All </option>
        <option value="ap"> Asian Parliamentary </option>
        <option value="bp"> British Parliamentary </option>
        <option value="3v3"> 3 on 3 </option>
    </select>
    </p>
    <!-- input type="submit" value="Filter" -->
    <button type="submit" class="btn btn-sm btn-outline-secondary"> Filter Recent motions </button>

    <br><br>
</form>
{% if ln != 'both' or fmt != 'all' %}
{% if ln != None or fmt != None %}
<div class="alert alert-secondary" role="alert">
    Showing only {% if ln == 'bn' %} Bangla {% elif ln == 'en' %} English {% endif %} {% if fmt == 'ap' %} Asian Parliamentary {% elif fmt == 'bp' %} British Parliamentary {% elif fmt == '3v3' %} 3v3 {% endif %} results.
</div>
{% endif %}
{% endif %}