{% extends 'dir/base.html' %}
{% block content %}
<h2> Recent Tournaments in Bangladeshi Circuit </h2>

{% include 'dir/filter.html' %}
{% if all_tournaments %}
    <table class="table table-striped ">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Date </th>
            <th scope="col"> Tournament  </th>
            <th scope="col"> Language and Format </th>

        </tr>
        </thead>
        <tbody>
        {% for tourni in all_tournaments %}
            <tr>
                <td> {{ tourni.date }} </td>
                <td> <a href="{% url 'tournament_details'  tourni.id  %}">{{ tourni.tournament_name }} </a> </td>
                <td> {% if tourni.lang == 'bn'%} Bangla {%elif tourni.lang == 'en'%} English {% endif %} - {% if tourni.format == 'ap'%} Asian Parliamentary {%elif tourni.format == 'bp'%} British Parliamentary {%elif tourni.format == '3v3'%} 3 on 3 {% endif %} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <h6> No Tournament to show , <a href="{% url 'tournaments' %}"> Go back to all tournaments </a> </h6>
{% endif %}
{% endblock %}
