{% extends 'dir/base.html' %}
{%  block content %}
<h2> {{ tournament.tournament_name }} </h2>
<h5> {{ tournament.date }} </h5>
<h5> {% if tournament.lang == 'bn'%} Bangla {%elif tournament.lang == 'en'%} English {% endif %} - {% if tournament.format == 'ap'%} Asian Parliamentary {%elif tournament.format == 'bp'%} British Parliamentary {%elif tournament.format == '3v3'%} 3 on 3 {% endif %} </h5>
<table class="table table-striped ">
    <thead class="thead-dark">
    <tr>
        <th scope="col"> Round </th>
        <th scope="col"> Motion </th>
        <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>
    {% for motion in tournament.motion_set.all %}
        <tr>
            <td> {{ motion.round }} </td>
            <td> {{ motion.motion_text }} </td>
            <td>
                {% if motion.info_slide.strip  %}
                    <!-- Venture Starts -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#id{{ motion.id }}">
                        Info_slide
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="id{{ motion.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Info Slide</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p style="size: 1.2rem">{{ motion.info_slide }}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Venture Finishes -->
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<span style="text-align:right"><p><a href="{% url 'tournaments' %}" >Go back to tournaments</a></p> </span>
</div>
{% endblock %}