{% extends 'dir/base.html' %}
{% block content %}
<h2> Recent Tournaments in Bangladeshi Circuit </h2>
    <!-- Filter option starts -->
<form action="" method="GET" form-inline>
    <p> Tournament Language:
    <select name="Lang">
        <option value="both"> Both </option>
        <option value="bn"> Bangla </option>
        <option value="en"> English </option>
    </select>
    Select Format:
    <select name="Format">
        <option value="all"> All </option>
        <option value="ap"> Asian Parliamentary </option>
        <option value="bp"> British Parliamentary </option>
        <option value="3v3"> 3 on 3 </option>
    </select>
    </p>
    <!-- input type="submit" value="Filter" -->
    <button type="submit" class="btn btn-sm btn-outline-secondary"> Filter Recent motions </button>

    <br><br>
</form>
{% if ln != 'both' or fmt != 'all' %}
{% if ln != None or fmt != None %}
<div class="alert alert-secondary" role="alert">
    Showing only {% if ln == 'bn' %} Bangla {% elif ln == 'en' %} English {% elif fmt == 'ap' %} Asian Parliamentary {% elif fmt == 'bp' %} British Parliamentary {% elif fmt == '3v3' %} 3v3 {% endif %} Tournaments.
</div>
{% endif %}
{% endif %}

<!-- Filter option finishes-->
{% if all_tournaments %}
    <table class="table table-striped ">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Date </th>
            <th scope="col"> Tournament  </th>
            <th scope="col"> Language and Format </th>

        </tr>
        </thead>
        <tbody>
        {% for tourni in all_tournaments %}
            <tr>
                <td> {{ tourni.date }} </td>
                <td> <a href="{% url 'tournament_details'  tourni.id  %}">{{ tourni.tournament_name }} </a> </td>
                <td> {% if tourni.lang == 'bn'%} Bangla {%elif tourni.lang == 'en'%} English {% endif %} - {% if tourni.format == 'ap'%} Asian Parliamentary {%elif tourni.format == 'bp'%} British Parliamentary {%elif tourni.format == '3v3'%} 3 on 3 {% endif %} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <h6> No Tournament to show , <a href="{% url 'tournaments' %}"> Go back to all tournaments </a> </h6>
{% endif %}
{% endblock %}
